

<%- include("header") -%>

<h2>This is an About page☺</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore suscipit possimus quo non. Voluptatum ex et sapiente id accusamus velit vel labore maiores quasi, sunt a similique nostrum recusandae voluptatibus delectus explicabo sequi repellat illo voluptatem dolores soluta, minus perferendis nesciunt? Esse et alias doloribus, maiores totam dolorum, deserunt consequatur itaque quibusdam, adipisci quam voluptatem excepturi aliquam quidem odio omnis impedit repellat corrupti. Asperiores, dolores.</p>


<%- include("footer") -%>